{{> Header }}
    <div class="image-container" id="container1">
        <img id="turquoise"src="Colours/turquoise.png"  alt="Image 1">
        <img id = "flower" src="Colours/BlueFlower.jpg" alt="Image 2">
        <img id = "beige" src="Colours/beige.png" alt = "image 3">
        <!-- Add more images here -->
    </div>
    <div class="image-container" id="container2">
        <img src="images/jellyfish.jpg" alt="jelly">
        <img id="ink" src="images/blue-liquid-ink-texture-black-background_125540-2236.avif" alt="Image 3">
        <img id = "blue" src="Colours/royalblue.png" alt = "royalblue 3">
        <img id="blue3" src="images/sky.jpg" alt="Image 3">
        <img id="blue4" src="images/ocean.jpg" alt="Image 3">
        
        <!-- Add more images here -->
    </div>
    <div class="MidPage">
        <h1>Find your hue now</h1>
        <div class="slideup">
            <button id="GetStarted" onclick="redirectToLoginPage()">Find Colour</button>
            <p>Discover your perfect shade effortlessly</p>
    </div>
    </div>
    <div class="bottom">
        <h1>Create your Portfolio </h1>
        <div class="photo-row">
            <div class="photo">
                <img src="images/leftimage.webp" alt="Photo 1">
                <p class="caption">Store your projects in your portfolio</p>
            </div>
            <div class="photo">
                <img src="images/colors.webp" alt="Photo 2">
                <p class="caption">Discover the color palette that suits you</p>
            </div>
            <div class="photo">
                <img src="images/loginIn.webp" alt="Photo 3">
                <p class="caption">Upload any image</p>
            </div>
        </div>
    </div>
    <div class="final">
        <h1>Unlock the palette of possibilities!</h1>
        <div class="twobuttons">
            <button id="learnmore"> Learn more</button>
            <button id="signup" onclick="redirectToSignInPage()"> Sign up now</button>
        </div>
    </div>
{{> Footer }}
