{{> Header }}

<div class="Header"> 
        <div id="Logo">
            <p>logo</p>
            <!--
            <img src="image.png" alt="Logo">
            -->
        </div>
        <button> CB Community </button>
        <button>About</button>
        <button>Contact us</button>
    </div>
    


{{> Footer }}
