{{> Header }}

<div class="form-container">
	<h1>Login</h1>
	<div id="logo"> <img src="image copy.png" alt=""></div>
	<form method="POST" action="{{ path 'login' }}" id="login-form">

		<div id="error" style="color: black;">{{errorMessage}}</div>

		<label for="username">Username:</label>
		<input type="text" id="username" name="name" required>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>

		<button id="sign" type="submit">Log in</button>
	</form>
</div>

{{> Footer}}