{{> Header }}

<h1>New Project</h1>

<form method="POST" action="{{ path 'projects' }}" id="new-project-form">
	<fieldset class="grid">
		<label>
			Name
			<input type="text" name="name">
		</label>
	</fieldset>
	<input type="submit" value="Create" id="new-project-form-submit-button">
</form>

{{> Footer}}
