{{> Header }}

<div class="form-container">
        <h1>New Project </h1>
        <form method="POST" action="{{ path 'projects' }}" id="new-project-form">
            <label for="name">Project name:</label>
            <input type="text" id="name" name="name" required>
			<br>
			<label for="url">Image url:</label>
			<input type="text" id="url" name="url">
			<br>
            <button id="sign" type="submit">Submit</button>
        </form>
</div>

{{> Footer}}
