{{> Header }}

<div class="form-container">
	<h1>Register</h1>

	<div id="error" style="color: black;">{{errorMessage}}</div>

	<form method="POST" action="{{ path 'register' }}" id="register-form">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>
		<label for="confirm-password">Confirm Password:</label>
		<input type="password" id="confirm-password" name="confirmPassword" required>
		<br>
		<button id="sign" type="submit">Sign up</button>
		<p>Already have an account? <a href="login.html">Login here</a></p>
	</form>
</div>

{{> Footer}}