{{> Header }}

<h1>Create User</h1>

<form method="POST" action="{{ path 'register' }}" id="register-form">
	
	<div id="error" style="color: white;">{{errorMessage}}</div>

	<fieldset class="grid">
		<label>
			Name
			<input type="text" name="name">
		</label>
	</fieldset>
    <fieldset class="grid">
		<label>
			Password
			<input type="text" name="password">
		</label>
	</fieldset>
    <fieldset class="grid">
		<label>
			Password
			<input type="text" name="confirmPassword">
		</label>
	</fieldset>
	<input type="submit" value="register" id="register-form-submit-button">
</form>

{{> Footer}}